.btnHome
{
text-transform:uppercase;
text-decoration:none;
color:#fff;
background-color:rgba(0,0,0,0.6);
text-align:center;
position:relative;
font-size:13px;
margin-bottom: 25px;
padding:28px;
border-radius: 0px;
font-size: 200%;
}