i.material-icons{
  font-size:42px;
  font-weight:normal;
}

#btnAdd {
  margin-bottom:10px;
  margin-top:10px;
}

span#AddBtn.pull-left{
  font-size:20px;
}

i.material-icons.pull-right{
  font-size:29px;
}
.huge{
  font-size:25px;
}

div#number.panel-body{
  font-size:40px;
  color:red;
  align-items:center;
}

span#details-link.pull-left{
  font-size:25px;
  margin-top:4px;
}

header{
  margin:5px;
}

#textBirthday{
  font-size:50px;
  background: linear-gradient(to right, #f83600 0%, #f9d423 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
p.thuChi{
  background: blue;
}
a.button {
  display: block;
  position: relative;
  float: left;
  width: 120px;
  padding: 0;
  margin-left: -15px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 150%;
  transition: all 0.2s;
}
.btnBlueGreen {
  background: #96e6a1;
}
.btnRed {
  background: #fda085;
}
.btnNomal{
  background: #6f86d6;
}
.number{
  text-align: center;
  color: white;
  font-size: 150%;
}
 .thuchi{
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; 
  background-blend-mode: multiply,multiply;
  padding: 10px;
}
/* Text inside a Line */
.strike {
  margin: 20px;
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap; 
}

.strike > span {
  position: relative;
  display: inline-block;
  color: white;
  font-size: 150%;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 5px;
  background: white;
  
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}
.table-responsive{
  margin-bottom:10px;
  margin-top:10px;
}

.maunen{
background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.hide {
  display: none;
}
.modal-backdrop{
  z-index: 1;
}
.button-plus{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  /*cursor:pointer;*/
  overflow: hidden;
  outline:none;
}
.button-minus{
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
.col-center-block {
    float: none;
    display: block;
    margin: 0 auto;
    /* margin-left: auto; margin-right: auto; */
}