.thumb {

    width: 140px;
    height: 132px;
    /*float: left;
    list-style: none;
    padding: 10px;
    margin: 2px 0;*/
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
    border-style: solid;
    margin: 5px 0px 5px 0px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    }

.thumb:hover {
	cursor: pointer;
	-webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1.05, 1.05);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 3px 3px 3px #888888;
    z-index: 1;
    }